.login-button {
  display: flex;
  justify-content: flex-end;
  margin: 20px;
  cursor: pointer;
}

.login {
  display: flex;
  justify-content: flex-end;
  margin: 20px;
  cursor: pointer;
}

.nav-section {
  display: flex;
  justify-content: center;
  margin: 20px;
  cursor: pointer;
}

.menu-area {
  display: flex;
  justify-content: center;
}

.menu-list {
  display: flex;
  list-style-type: none;
}

.menu-list li {
  margin: 0 10px;
  cursor: pointer;
  font-weight: bold;
  font-size: 20px;
}

.search-bar {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 50px;
  border-bottom: 1px solid #000;
  font-size: 20px;
  font-weight: bold;
  margin-left: 10px;
}

.search-bar input {
  margin-bottom: 5px;
  border: none;
}

.search-bar input:focus {
  outline: none;
}

.product-cusor {
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
}

.product-cusor:hover {
  transform: scale(1.1);
}

.product-img {
  display: flex;
  justify-content: flex-end;
}

.info-choice div Button {
  margin-top: 100px;
  width: 70%;
}
